/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff; /* 背景色を設定 */
  }
  
  .container {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    height: 100vh; /* ビューポートの高さを100%に */
  }
  
  .border {
    margin: 5px;
    border: 2px solid #543db9;
    width: 300px;
    height: 100px;
    background-color: #ffffff; /* ボックスの背景色 */
  }
  
  .indentTask {
    margin-left: 30px; /* インデントを設定 */
    margin-top: 10px;
  }

  .indent20 {
    margin-left: 20px; /* インデントを設定 */
  }

  .task {
    display: flex;
  }